.mainBannerContainer{
    width: 100%;
    height: 825px;
    background-image: url("../assets/images/MainBannerBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 160px;
    padding-left:300px;
    box-sizing: border-box;
    margin-bottom: 85px;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.mainVideoBannerContainer{
    width: 100%;
    height: 825px;
    margin-bottom: 85px;
    position: relative;
}
.mainVideoBannerContainer .bgContent{
    position: absolute;
    top: 160px;
    right: 300px;
}
/*.mainVideoBannerContainer .bgContent{*/
/*    padding-top: 160px;*/
/*    padding-left:300px;*/
/*    box-sizing: border-box;*/
/*}*/
.mainVideoBannerContainer video{
    min-width: 100%;
    min-height: 100%;

}




.mainVideoBannerContainer .title, .mainBannerContainer .title{
    font-weight: bold;
    font-size: 54px;
    line-height: 81px;
    text-align: center;
    color:#fff;
    display: block;
    margin-bottom: 21px;

}
.mainVideoBannerContainer .subTitle, .mainBannerContainer .subTitle{
     font-weight: bold;
     font-size: 20px;
     text-align: center;
     display: block;
     color:#fff;
     margin-bottom: 56px;

}

.mainVideoBannerContainer .createButton, .mainBannerContainer .createButton{
      display: block;
      background-color: inherit;
      background-image: url("../assets/images/CreateNFTbutton.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 240px;
      height: 51px;

      border: none;
      margin: 0 auto;
    cursor: pointer;
}


@media screen and (max-width: 1550px){}

@media screen and (max-width:1450px) {
    /* 타블렛 가로 */
    .mainBannerContainer{
        padding-left: 0;
    }
}
@media screen and (max-width:768px) {
    /* 모바일 가로, 타블렛 세로 */
    .mainBannerContainer{
        padding-top: 120px;
        height: 615px;
        margin-bottom: 0;
        background-position: center;
        /*background-size: contain;*/
        background-image: url("assets/images/MainBannerBG_mobile.png");


    }
    .mainVideoBannerContainer .title, .mainBannerContainer .title{
        font-size: 22px;
        line-height: 32px;
    }
    .mainVideoBannerContainer .subTitle, .mainBannerContainer .subTitle{
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 30px;
    }
}
