.roadmapContainer{
    margin-bottom: 198px;

}
.roadmapContainer .roadmap{
    /*background-image: url("assets/images/roadmapBar.png");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*width: 100%;*/
    /*height: 3px;*/

}
.roadmapContainer .title{
    max-width: 1420px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-left: 150px;
    box-sizing: border-box;
}

@media screen and (max-width: 1550px){
    .roadmapContainer .title{
        padding-left: 300px;
    }
}
@media screen and (max-width:1450px){
    .roadmapContainer .title{
        padding-left: 165px;
    }
}
@media screen and (max-width:768px){
    .roadmapContainer{
        margin-bottom: 100px;
    }
    .roadmapContainer .title{
        /*padding-left: 30px;*/
        padding-left: 40px;
        margin-bottom: 32px;
    }
}
