.timeline {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 185px;
    --timeline-color: #fffff;
    position: relative;
    list-style: none;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

/* middle line */
.timeline:before {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 3px;
    /*background: var(--timeline-color); }*/
    background-image: url("assets/images/roadmapBar.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.timeline li {
    /*margin: 0 20px;*/
    min-width: 200px;
    align-self: flex-end; }

.timeline .contentBox {
    position: relative;
    /*padding: 10px;*/
    margin-left:120px;
    text-align: center;
}
.timeline .contentBox .year{
    width: 100%;
    position: absolute;
    top: -85px;
    left: 25px;
}
.timeline .contentBox .detail span{
    font-size: 18px;
    display: block;
    /*margin-bottom: 40px;*/
}
.timeline .one .year{
    color:#00C2E7;
    font-weight: bold;
    font-size: 24px;
}
.timeline .two .year{
    color:#247CEE;
    font-weight: bold;
    font-size: 24px;
}
.timeline .three .year{
    color:#4046F3;
    font-weight: bold;
    font-size: 24px;
}
.timeline .four .year{
    color:#5B10F8;
    font-weight: bold;
    font-size: 24px;
}
/* style for the dot over the timeline */
.timeline li:before {
    content: "";
    position: absolute;
    top: calc(50% + 1px);
    /*margin-left: 100px;*/
    margin-left: 200px;
    transform: translate(-50%, -50%);
    border: 1px #9bc solid;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:#fff;
}

.timeline .one:before{
    border: 2px solid #00C2E7;
}
.timeline .two:before{
    border: 2px solid #247CEE;
}
.timeline .three:before{
    border: 2px solid #4046F3;
}
.timeline .four:before{
    border: 2px solid #5B10F8;
}


